
*{
    box-sizing: border-box;
}

aside {
    width: 23%;
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

aside header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

aside header .collapseIcon{
    font-size: 25px;
    cursor: pointer;
}

aside nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-sizing: border-box;
    padding-bottom: 20px;
    /* background-color: aliceblue; */
}
aside nav ul{
    width: 100%;
    padding: 0 25px;
    /* background-color: antiquewhite; */
}

aside nav ul:hover{
    border-right: 5px solid rgb(5, 5, 30);
    cursor: pointer;
}
aside nav ul li p.title{
    font-size: 10px;
    text-transform: uppercase;
    color: var(--minorText);
}
aside nav ul li a{
    text-decoration: none;
    color: var(--secondary);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
}
aside nav ul li a:hover{
    color: var(--primary);
    transition: 0.3s;
}
aside nav ul li {
    padding: 3.8px 10px;
    border-radius: 5px;
}

aside nav ul li a .sideBarIcons{
    font-size: 22px;
}

aside nav ul:nth-child(4):hover,
aside nav ul:nth-child(7):hover{
    border-right: none;
    transition: 0.3s;
    cursor: default;
}
/* aside nav ul li.active{
    background-color: var(--primary);
    color: white;
}
aside nav ul li a.acive{
    color: white;
} */

aside nav div.wrapper > div{
    width: 240px;
    height: inherit;
    /* background-color: rgb(4, 4, 45); */
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    padding-left: 15px;
    color: var(--secondary);
}

.menuIcons, .menuTexts{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuIcons{
    font-size: 24px;
}
/* .aside nav div.wrapper:hover{
    border-right: 5px solid rgb(5, 5, 30); 
} */

/* User profile section */
section.user-profile{
    width: 100%;
    height: 100px;
    border-top: 2px solid rgb(240, 240, 240);
    padding: 0 35px;
    /* background-color: red; */
    display: flex;
    color: var(--secondary);
    justify-content: space-between;
    align-items: center;
}

section.user-profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

section.user-profile .user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
section.user-profile .user h5{
    font-weight: 600;
    color: var(--primary);
    
}