
header.header{
    width: 77%;
    height: 80px;
    background-color: var(--body);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
}
header nav{
    width: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.arrowIcons{
    color: var(--primary);
    cursor: not-allowed;
    font-size: 16px;
}
header.header form{
    position: relative;
}
form .searchIcon{
    position: absolute;
    left: 20px;
    top: 9px;
    font-size: 25px;
    opacity: .7;
}
input.search{
    width: 400px;
    height: 43px;
    border-radius: 50px;
    outline: 0;
    border: 0;
    padding: 0 55px;
    font-size: 16px;
    
}
.navButtons{
    display: flex;
    flex-wrap: nowrap;
}
.login{
    width: 105px;
    height: 43px;
    font-size: 16px;
    color: white;
    outline: 0;
    border: 0;
    font-weight: 700;
    border-radius: 50px;
    background-color: var(--primary);
    cursor: pointer;
    transition: .5s;
}
.signUp{
    width: 105px;
    height: 43px;
    font-size: 16px;
    background-color: transparent;
    outline: 0;
    border: 0;
    color: var(--secondary);
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}
.signUp:hover, .login:hover{
    scale: 105% 105%;
}
.mobileMenu{
    font-size: 30px;
    color: white;
    background-color: transparent;
    display: none;
}