@import url(./shared/globalStyles.css);
*{
  box-sizing: border-box;
  margin: 0;
  list-style-type: none;
}

:root{
  --primary: #272729;
  --white: #ffffff;
  --body: #F4F5FE;
  --secondary: #737275;
  --minorText: #A7A3B1;
  --faintText:#CBCACE;
}

body {
  background-color: var(--body);
  font-family: poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: poppins,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

